<h1>Interacción</h1>
<link rel="stylesheet" href="ejemplo2css.css"
<nav>

  <label for="touch"><span>titre</span></label>               
  <input type="checkbox" id="touch"> 

  <ul class="slide">
    <li><a href="#">Opcion 1</a></li> 
    <li><a href="#">Opcion 2</a></li>
    <li><a href="#">Opcion 3</a></li>
    <li><a href="#">Opcion 4</a></li>
  </ul>

</nav> 