h2 {  
    text-align:center;
    background-color:rgb(250, 104, 104);
    border: rgb(241, 12, 12) 5px double;
    font-family: Verdana;
    color:blanco;
    padding:10px;    
} 
p {     
    margin:10px 50px;
    padding:400px;
    font-size:italic;
    background-color:#cfc;
    color:rgb(247, 244, 244); 
    background-image: url("https://fondosmil.com/fondo/65636.jpg");
} 
ul {
    list-style-type: circle;
    margin: 10px 50px;
    padding:20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}
table {
    width:500px;
    font-family: 'Courier New', Courier, monospace 13px;
    text-align:center;
    border-collapse:separate;
}
table th {
    font:bold 15px Verdana;
    background-color:rgb(230, 99, 117);
    
}
.fila_impar {
    background-color:rgb(243, 158, 162);
}
 .fila_par {
    background-color:rgb(192, 51, 51);
}
 .fila_resaltada {
    color:rgb(66, 11, 73);
    background-color:rgb(156, 40, 117);
}